
  
@keyframes rotate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
/*phones' screens*/

@media (max-width: 800px) {

    html {
        background-color:  #0a0a0a

    }
    
    .text {
        color: white;
    }
 /*Title*/
    h1 {
        font-size: 1.3rem;
        text-align: center;
        padding-top:10px;
    }
 /*Title logos*/
    .rotating-logo {
        width: 50px; /* Ajuste conforme necessário */
        height: 50px; /* Ajuste conforme necessário */
        animation: rotate 5s linear infinite;
        float: left;
        display: inline-block;
    }
        
        .rotating-logo2 {
        width: 50px; /* Ajuste conforme necessário */
        height: 50px; /* Ajuste conforme necessário */
        animation: rotate 5s linear infinite;
        float: right;
        display: inline-block;
    }

    hr {
        border: none;
        height: 2px;
        background: linear-gradient(to right, #000000, #ffffff);
        margin: 20px 0;
        clear: left;
    }

    h3 {
        clear: both;
    }
    .titulo {
        background-color: #000;
        display: block;
    }

    .Block02 {
        margin-left: 10px;
    }
/*the youtube video*/

iframe {
    width: 200px;
    float: left;
    margin-right: 10px;
}

a {
    background-color: #ffffff00;    padding: 15px;
    display: block;
    margin-top: 10px;
    width: 5rem;
    height: 4rem;
    float: left;
    margin-right: 20px;
}

li {
    font-size: 0.76rem;
}
}